.container-bmi{
    padding-top: 10vh;
    padding-left: 10vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
/* <!-- //////////////////// MENU ////////////////////// --> */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar-brand {
    padding-left: 8vw;
    padding-right: 2vw;
}